<div class="my-3">
  <div class="row">
    <div class="col-md-4">
      <h2>Take</h2>
      <p class="lead">-Emit provided number of values before completing</p>
    </div>
    <div class="col-md-4">
      <h2>TakeLast</h2>
      <p class="lead">-Emit the last n emitted values before completion</p>
    </div>
    <div class="col-md-4">
      <h2>TakeUntil</h2>
      <p class="lead">-Emit values until provided observable emits</p>
    </div>
  </div>
  <br />
  <div class="card card-body mb-3">
    names = ['nayeem','abir','razu', 'dristy'];
  </div>
  <div class="row">
    <div class="col-md-4">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Take: </strong> ex #1
      </p>
      <ul id="list" class="list-group"></ul>
    </div>
    <div class="col-md-4">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>TakeLast: </strong> ex #2
      </p>
      <ul id="list2" class="list-group"></ul>
    </div>
    <div class="col-md-4">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>TakeUntil(condition) </strong> ex #3
      </p>
      <ul id="list3" class="list-group"></ul>
    </div>
  </div>
</div>
