<div class="my-3">
  <h2>toArray</h2>
  <p class="lead">
    - Collects all source emissions and emits them as an array when the source
    completes.
  </p>
  <hr />

  <div class="row">
    <div class="col-md-4">
      <div class="spinner-grow" role="status" *ngIf="loading">
        <span class="visually-hidden">Loading...</span>
      </div>

      <ul class="list-group" id="list1"></ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group" id="list2"></ul>
    </div>
    <div class="col-md-4">
      <ul class="list-group" id="list3"></ul>
    </div>
  </div>
</div>
