<div class="my-3" [ngStyle]="{ color: color }">
  <h2>Tap</h2>
  <p class="lead">
    -Transparently perform actions or side-effects, such as logging without
    changing the main data stream
  </p>
  <br />
  <div class="row">
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Tap: </strong> ex #1
      </p>
      <ul id="list" class="list-group"></ul>
    </div>
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Tap: </strong> ex #2
      </p>
      <ul id="list2" class="list-group"></ul>
    </div>
  </div>
</div>
