<div class="my-3">
  <h3>Of and From</h3>
  <br />
  <strong>Example #1 (of)</strong>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong> of('Nayeem', 'Foujia', "Hamza", "Hafsa")
      </p>

      <ul id="listItems" class="list-group"></ul>
    </div>
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong> of(&#123;f:'Nayeem', m:'Foujia', s:'Hamza',
        d:'Hafsa'&#125;)
      </p>

      <ul id="listItems2" class="list-group"></ul>
    </div>
  </div>

  <br />

  <strong>Example #2 (from)</strong>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <strong>Array</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong> from(['Nayeem', 'Foujia', "Hamza", "Hafsa"])
      </p>
      <ul id="listItems3" class="list-group"></ul>
    </div>

    <div class="col-md-4">
      <strong>Promise</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong> from(Promise to Observable)
      </p>
      <ul id="listItems4" class="list-group"></ul>
    </div>

    <div class="col-md-4">
      <strong>String</strong>
      <hr />
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Data: </strong> from(string to Observable)
      </p>
      <ul id="listItems5" class="list-group"></ul>
    </div>
  </div>
</div>
