<div class="my-3">
  <div class="row">
    <div class="col-md-6">
      <h2>Subject</h2>
      <p class="lead">
        -A special type of Observable which shares a single execution path among
        observers
      </p>
    </div>
    <div class="col-md-6">
      <h2>BehaviorSubject</h2>
      <p class="lead">
        -Requires an initial value and emits the current value to new
        subscribers
      </p>
    </div>
  </div>
  <hr />
  <h2>
    Username: <strong>{{ userName }}</strong>
  </h2>
  <br />
  <div class="row">
    <div class="col-md-4">
      <app-comp1></app-comp1>
    </div>
    <div class="col-md-4">
      <app-comp2></app-comp2>
    </div>
    <div class="col-md-4">
      <app-comp3></app-comp3>
    </div>
  </div>
</div>
