<div class="my-3">
  <h3>map</h3>
  <br />
  <strong>Example #1</strong>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map: </strong> "Video" + data
      </p>

      <ul id="list" class="list-group"></ul>
    </div>
    <div class="col-md-4">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map: </strong> data + 10
      </p>

      <ul id="list2" class="list-group"></ul>
    </div>
    <div class="col-md-4">
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Map: </strong> object data
      </p>

      <ul id="list3" class="list-group"></ul>
    </div>
  </div>
</div>
