<div class="my-3">
  <div class="row">
    <div class="col-md-6">
      <h2>debounceTime</h2>
      <p class="lead">
        -Discard emitted values that take less than the specified time between
        output
      </p>
    </div>
    <div class="col-md-6">
      <h2>distinctUntilChanged</h2>
      <p class="lead">
        -Only emit when the current value is different than the last
      </p>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        Ex 01:<strong> DebounceTime</strong>
      </p>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="input" class="col-form-label">Search</label>
        </div>
        <div class="col-auto">
          <input type="text" id="input" class="form-control" #input1 />
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p class="bg-light py-2 px-3 border rounded">
        Ex 02:<strong> DistinctUntilChanged</strong>
      </p>
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="input2" class="col-form-label">Search</label>
        </div>
        <div class="col-auto">
          <input type="text" id="input2" class="form-control" #input2 />
        </div>
      </div>
    </div>
  </div>
</div>
